@model ProjectStok.Models.Entity.TBLSatis
@{
    ViewBag.Title = "SatisListele";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Yonetici/YeniSatis">
                <div class="modal-body">
                    <label>Urun Adı</label>
                    @Html.TextBoxFor(m => m.UrunID, new { @class = "form-control" })
                    <br />
                    <label>Müşteri</label>
                    @Html.TextBoxFor(m => m.MusteriID, new { @class = "form-control" })
                    <br />
                    <label>Adet</label>
                    @Html.TextBoxFor(m => m.Adet, new { @class = "form-control" })
                    <br />
                    <label>Fiyat</label>
                    @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Verileri Kaydet</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>