
@{
    ViewBag.Title = "Yardim";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Modal1">
    Yardıma Git
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Bu Örnek Proje 19.09.2019 tarihinde Saifullah Nasrullah Tarafından düzenlenmiştir.</h3>
            </div>
        </div>
    </div>
</div>

