@{
    ViewBag.Title = "About";
}
<br />
<form method="get">
    <fieldset>
        Film Türü Seçin:
        <select id="MovieType" name="MovieType" class="form-control">
            <option value="1">Aksiyon</option>
            <option value="2" selected="selected">Aile</option>
            <option value="3">Bilim Korgu</option>
            <option value="4">Fantastik</option>
            <option value="5">Drama</option>
            <option value="6">Komedi</option>
        </select>
    </fieldset>
</form>
